<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://hayesc3322dev.ml/src/app/delta2275.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.hayesc3322dev.delta2275</string>
				<key>bundle-version</key>
				<string>0.3</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Delta|Hayesc3322Dev|Signed_By_iPwnStore</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
